@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, input, button {
	font-family: 'GmarketSansMedium';
	text-underline-position: under;
}

html, body {
	width: 1600px;
	font-size: 16px;
	line-height: inherit;
	justify-content: center;
	margin: auto;
}

.contents {
	display: flex;
	flex-direction: column;
	/* min-height: 100%; */
}

html, body {
	height: 100%;
}

input {
	cursor: pointer;
}
/* ------탑바------ */
.order_confirmed-headline {
	color: #f5f5f5;
	background-color: black;
	display: flex;
	align-items: center;
	height: 80px;
	padding: 12px 16px;
	box-sizing: border-box;
}

#logo-box {
	width: 110px;
	margin-left: 10px;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}

#icon-box {
	height: 100%;
}

#icon {
	display: flex;
	justify-content: end;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 2rem;
}

#icon>a {
	align-content: center;
	height: 100%;
	padding: 0 15px;
}
/* ------탑바------ */

/* ------메인------ */
main {
	margin: 50px 0 500px 0;
	padding: 24px 40px 24px 40px;
	text-align: center;
}

footer {
	padding: 0 40px 24px 40px;
}

main>h2 {
	font-size: 25px;
}
/* ------주문 상품------ */
.sheet-section {
	background-color: white;
	width: 100%;
	padding-top: 25px;
	position: relative;
	overflow: hidden;
}

.sheet-title {
	box-sizing: border-box;
	align-items: center;
	width: 100%;
	padding: 12px 16px;
	display: flex;
}

h2 {
	margin: 0;
}

.sheet-title-count {
	font-size: 21px;
	font-weight: 600;
	line-height: 24px;
}

.sheet-order-product {
	margin-top: 4px;
}

.sheet-order-product-information {
	margin-top: 100px;
}

.sheet-order-product-cartItem {
	margin: 0 16px;
	position: relative;
}

.sheet-order-product-box {
	gap: 0 25px;
	display: flex;
	margin-top: 8px;
}

.sheet-order-product-image {
	object-fit: contain;
	align-self: flex-start;
	width: 240px;
	height: 360px;
}

.sheet-order-product-brand {
	grid-area: brand;
	font-size: 23px;
	font-weight: 600;
	line-height: 30px;
}

.sheet-order-product-name {
	grid-area: name;
	margin-top: 2px;
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
}

.sheet-order-product-option {
	color: #666;
	grid-area: option;
	margin-top: 2px;
	font-size: 19px;
	font-weight: 400;
	line-height: 35px;
}

.sheet-order-product-price-sale {
	color: black;
	grid-area: final;
	font-size: 20px;
	font-weight: 600;
	line-height: 10px;
}

.button-order-status {
	box-sizing: border-box;
	border: 1px solid black;
	background-color: white;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50px;
	margin-top: 12px;
	font-size: 21px;
	font-weight: 500;
	line-height: 18px;
}
/* ------주문 상품------ */

/* ------바텀바------ */
footer {
	color: #999;
}

.bottom-menu ul li {
	margin: 15px 0;
}

.bottom-menu ul li>a {
	margin: 10px 0;
}

.submenu {
	display: none;
}

.copyright {
	margin-top: 20px;
}

.copyright>div {
	margin: 15px 0;
}

.btn-icon>a {
	font-size: 30px;
	margin-right: 15px;
}

/* ------바텀바------ */