@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html>body, button {
	font-family: 'GmarketSansMedium';
	text-underline-position: under;
}

html, body {
	width: 1260px;
	font-size: 16px;
	line-height: inherit;
	justify-content: center;
	margin: auto;
}

.contents {
	display: flex;
	flex-direction: column;
	/* min-height: 100%; */
}

html, body {
	height: 100%;
}

.double-section {
	display: flex;
}

.double-section-left {
	flex: 0 0 800px;
	/* min-width: 0; */
	padding-left: 40px;
	padding-right: 30px;
	padding-bottom: 40px;
}

.double-section-right {
	box-sizing: content-box;
	min-width: 0;
	top: 24px;
	padding-left: 30px;
	padding-right: 40px;
	padding-bottom: 40px;
}
/* ------주문서------ */
.order_form-headline {
	background-color: black;
	color: #f5f5f5;
	display: flex;
	align-items: center;
	height: 52px;
	padding: 0 16px;
	box-sizing: border-box;
}

.order_form-headline>a {
	height: 28px;
}

.order_form-headline-text {
	font-size: 20px;
	line-height: normal;
	margin: 0;
	flex: 1;
	display: flex;
	align-items: center;
	overflow: hidden;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.button-back-page {
	border: none;
}

button {
	background-color: transparent;
	background-image: none;
}

.sheet-purchase-button {
	background-color: black;
	color: #f5f5f5;
	font: 17px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.sheet-purchase-button-price {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.sheet-purchase-button-box {
	display: block;
	background-color: #f5f5f5;
}
/* ------주문서------ */

/* ------배송지------ */
/* ------배송지(Daum API)------ */
.form-input-address input {
	margin: .2em 0;
	font-size: 1em;
	padding: .5em;
	border: 1px solid #ccc;
	border-color: #dbdbdb;
	vertical-align: middle;
	line-height: 1.25em;
	outline: 0;
	border-radius: 4px;
}

#input_address {
	width: 60%
}

#input_phoneNumber {
	width: 30%
}
/* ------배송지(Daum API)------ */
.sheet-address {
	box-sizing: border-box;
	width: 100%;
	padding: 0 16px;
}

.sheet-address-title {
	align-items: center;
	padding: 12px 0;
	display: flex;
	position: relative;
}

.sheet-address-title-label {
	background-color: #8A8A8A1A;
	color: #666;
	border-radius: 2px;
	margin-left: 4px;
	margin-right: auto;
	padding: 1px 4px;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	overflow: hidden;
}

.sheet-address-title-button {
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	color: black;
	border-radius: 4px;
	margin-right: 40%;
	padding: 3px 6px;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
}

.sheet-message-text {
	font-size: 14px;
	justify-content: space-between;
	align-items: center;
	height: 36px;
	width: 60%;
	text-align: left;
	background: #ffffff;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 13px 10px;
	margin-top: 9px;
	margin-bottom: 6px;
	display: flex;
	cursor: pointer;
	background: url(./img/svg/down-arrow-svgrepo-com.png) no-repeat;
	background-position: 97% 50%;
}

.sheet-message-text.on {
	background: url(./img/svg/down-arrow-svgrepo-com.png) no-repeat;
	background-position: 97% 50%;
}

.sheet-message-text:hover, .sheet-message-text:focus,
	.sheet-message-text:active {
	outline: 1px solid #666;
}

.sheet-message-selectbox {
	box-sizing: border-box;
	width: 60%;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 4px;
	padding: 4px 8px;
	margin-top: 0px;
}

.sheet-message-selectbox {
	display: none;
}

.sheet-message-selectbox.on {
	display: block;
}

.sheet-message-selectbox li {
	width: 100%;
	margin-top: 10px;
	border: none;
	margin-bottom: 10px;
}

.sheet-message-option-btn {
	width: inherit;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	text-align: left;
	line-height: 16px;
	display: inline-block;
	font-size: 15px;
}

.sheet-message-option-btn.on {
	display: block;
	background-position: right;
}

.sheet-message-option-btn {
	width: inherit;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	padding: 7px 10px;
	text-align: left;
	line-height: 16px;
	display: inline-block;
}

.sheet-message-selectbox li:hover, .sheet-message-selectbox li:focus,
	.sheet-message-selectbox li:active {
	background-color: #eee;
	border-radius: 4px;
}

button {
	cursor: pointer;
}
/* ------배송지------ */

/* ------주문 상품------ */
.sticky-section {
	position: sticky;
	top: 20px;
}

.sheet-section {
	background-color: white;
	width: 100%;
	padding-top: 25px;
	position: relative;
	overflow: hidden;
}

.sheet-title {
	box-sizing: border-box;
	align-items: center;
	width: 100%;
	padding: 12px 16px;
	display: flex;
}

h2 {
	margin: 0;
}

.sheet-title-address, .sheet-title-text, .sheet-title-count {
	font-size: 21px;
	font-weight: 600;
	line-height: 24px;
}

.sheet-order-product {
	margin-top: 4px;
}

.sheet-order-product-cartItem {
	margin: 0 16px;
	position: relative;
}

.sheet-order-product-box {
	display: flex; /* Flexbox로 자식 요소를 수평 정렬 */
	margin-bottom: 15px; /* 각 상품 박스 간의 간격 */
}

.sheet-order-product-image-box {
	width: 130px; /* 이미지 박스 폭 고정 */
	flex-shrink: 0; /* 크기가 줄어들지 않도록 설정 */
}

.sheet-order-product-image {
	width: 100%; /* 이미지가 박스를 가득 채우도록 */
	height: auto; /* 비율 유지 */
}

.sheet-order-product-information {
	flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
	padding-left: 15px; /* 이미지와 정보 간의 간격 */
}

.sheet-order-product-brand {
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 5px; /* 요소 간 간격 */
}

.sheet-order-product-name {
	margin-top: 2px;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 5px; /* 요소 간 간격 */
}

.sheet-order-product-price-origin {
	color: #666;
	font-size: 13px;
	font-weight: 400;
	line-height: 25px;
	text-decoration: line-through;
}

.sheet-order-product-price-sale {
	color: black;
	font-size: 15px;
	font-weight: 600;
	line-height: 10px;
}
/* ------주문 상품------ */

/* ------보유 적립금 사용------  */
.sheet-title-bottomSheet {
	margin-left: 2px;
	display: flex;
	position: relative;
	border: none;
}

:disabled {
	cursor: default;
}

input {
	vertical-align: middle;
}

.sheet-point-input {
	box-sizing: border-box;
	width: 100%;
	padding: 4px 16px 12px;
}

.sheet-point-input-input-disabled {
	box-sizing: border-box;
	background-color: #f5f5f5;
	border-color: #ebebeb;
	color: #ccc;
	border-radius: 4px;
	width: 100%;
	padding: 6px 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: flex;
}

.sheet-point-input-text {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	display: flex;
}

.sheet-point-limit-input-text, .sheet-point-input-price,
	.sheet-point-input-own {
	display: inline-block;
}
/* ------보유 적립금 사용------  */

/* -------결제 수단------- */
.payment-method-type {
	box-sizing: border-box;
	cursor: pointer;
	grid-area: label;
	align-items: center;
	width: calc(100% - 32px);
	margin: 0 auto;
	padding: 8px 0 8px 24px;
	display: flex;
	position: relative;
}

.payment-method-choice>label>input, .payment-method-choice>label>img {
	display: inline-block;
}

input[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border: 2px solid #ccc;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

input[type='radio']:checked {
	background-color: white;
	border: 3px solid black;
	box-shadow: 0 0 0 1.6px black;
}

.payment-method-choice {
	margin-left: 4px;
	font-size: 17px;
}

.payment-method-logo-TOSSPAY, .payment-method-logo-KAKAOPAY,
	.payment-method-logo-PAYCO {
	height: 15px;
	width: 30px;
	object-fit: scale-down;
}

a, div {
	outline: none;
	margin: 0;
	padding: 0;
}

.payment-method-type-input {
	position: relative;
	clear: both;
	margin: 10px;
	padding: 0;
	list-style: none;
}

.paymentMethod-others {
	text-align: center;
	width: 100%;
}

.paymentMethod-others-list {
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0 50px 8px 50px;
	display: flex;
	list-style: none;
	margin: 1px;
}

.paymentMethod-others-list li {
	width: calc(50% - 2px);
	margin-top: 8px;
}

.paymentMethod-others-text {
	font-size: 15px;
}

#box-payment-method-type-CARD, #box-payment-method-type-VACCOUNT,
	#box-payment-method-type-PHONE, #box-payment-method-type-NAVERPAY {
	/* border: 1px solid #e0e0e0; */
	box-sizing: border-box;
	background-color: white;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	height: 36px;
	display: flex;
	overflow: hidden;
	float: left;
}

#button-payment {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	display: inline-block;
	width: 100%;
	height: 36px;
}

.card-selection-input {
	top: 0;
	left: 0;
	opacity: 0;
	position: absolute;
}

.list-payment li {
	position: relative;
	float: left;
}

.list-payment span {
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0 0 0;
}

.list-payment li {
	float: left;
	width: 121.6px;
	height: 121.6px;
	padding: 18px 0 16px;
	border: 1px solid #eee;
	box-sizing: border-box;
	transition: border 0.3s ease;
}

.list-payment li:hover>label {
	border: 1px solid black;
	cursor: pointer;
}

.card-company-logo {
	height: 60px;
	width: auto;
	object-fit: cover;
	margin: auto;
}

ul {
	list-style: none;
}

/* -------결제 수단------- */

/* ------결제 금액------ */
.sheet-purchase-button {
	box-sizing: border-box;
	background-color: black;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 44px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	display: flex;
}

.sheet-save-point-additional, .sheet-save-point-level {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.sheet-save-point-level-text-bold {
	font-weight: bold;
}

.sheet-payment-price-subject-text, .sheet-payment-price-subject-price {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.subject-payment-price-subject-price {
	color: blue;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.sheet-payment-price-total-text {
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
}

.subject-payment-price-total-price {
	margin-left: 4px;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
}

.sheet-save-point {
	box-sizing: border-box;
	width: 100%;
	padding: 0 12px;
}

.sheet-save-point, .sheet-payment-price {
	box-sizing: border-box;
	width: 100%;
	padding: 0 16px 12px;
}

.sheet-save-point-level, .sheet-payment-price-box {
	padding: 4px 0;
}

.sheet-agreement {
	box-sizing: border-box;
	grid-template-columns: 1fr auto;
	justify-content: space-between;
	width: 100%;
	padding: 8px 16px 4px;
}

.sheet-agreement-text {
	color: #666;
	padding: 4px 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	display: block;
	word-break: keep-all;
}
/* ------결제 금액------ */

/* ------바텀바------ */
.con {
	color: #999;
	padding: 0 40px 60px 40px;
}

.bottom-menu ul li {
	border: none !important;
	margin: 15px 0;
}

.bottom-menu ul li>a {
	margin: 10px 0;
}

.submenu {
	display: none;
}

.copyright {
	margin-top: 20px;
}

.copyright>div {
	margin: 15px 0;
}

.btn-icon>a {
	font-size: 30px;
	margin-right: 15px;
}

/* ------바텀바------ */

/* ------ footer 버튼 ------ */
footer {
	position: fixed;
	background-color: #ebebeb;
	left: 0px;
	bottom: 0px;
	width: 100%;
	border-radius: 0px;
}
/* ------ footer 버튼 ------ */